In [22]:
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from warnings import filterwarnings
filterwarnings("ignore")

1. Взять статистику по осадкам:
### https://www.kaggle.com/datasets/vanviethieuanh/vietnam-weather-data

In [7]:
df = pd.read_csv("weather.csv")
df["date"] = pd.to_datetime(df["date"])
df.head()

   province  max  min  wind wind_d  rain  humidi  cloud  pressure       date
0  Bac Lieu   27   22    17    NNE   6.9      90     71      1010 2009-01-01
1  Bac Lieu   31   25    20    ENE   0.0      64     24      1010 2010-01-01
2  Bac Lieu   29   24    14      E   0.0      75     45      1008 2011-01-01
3  Bac Lieu   30   24    30      E   0.0      79     52      1012 2012-01-01
4  Bac Lieu   31   25    20    ENE   0.0      70     24      1010 2013-01-01

In [8]:
df.describe()

,max,min,wind,rain,humidi,cloud,pressure,date
count,181960.000000,181960.000000,181960.000000,181960.000000,181960.000000,181960.000000,181960.000000,181960
mean,29.837277,23.277874,11.038657,6.567130,77.083068,41.721268,1010.229127,2015-03-26 06:37:35.440755968
min,4.000000,2.000000,1.000000,0.000000,23.000000,0.000000,988.000000,2009-01-01 00:00:00
25%,28.000000,21.000000,7.000000,0.100000,71.000000,23.000000,1008.000000,2012-02-12 00:00:00
50%,31.000000,24.000000,10.000000,1.800000,78.000000,38.000000,1010.000000,2015-03-26 00:00:00
75%,33.000000,26.000000,14.000000,7.500000,83.000000,58.000000,1012.000000,2018-05-07 00:00:00
max,46.000000,32.000000,54.000000,596.400000,100.000000,100.000000,1038.000000,2021-06-18 00:00:00
std,4.571345,3.945381,5.311807,13.602055,9.288553,23.875067,4.635714,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181960 entries, 0 to 181959
Data columns (total 10 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   province  181960 non-null  object
 1   max       181960 non-null  int64
 2   min       181960 non-null  int64
 3   wind      181960 non-null  int64
 4   wind_d    181960 non-null  object
 5   rain      181960 non-null  float64
 6   humidi    181960 non-null  int64
 7   cloud     181960 non-null  int64
 8   pressure  181960 non-null  int64
 9   date      181960 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(6), object(2)
memory usage: 13.9+ MB

In [10]:
df.isna().sum()

province    0
max         0
min         0
wind        0
wind_d      0
rain        0
humidi      0
cloud       0
pressure    0
date        0
dtype: int64

In [118]:
numpy_array = df.to_numpy()
print(f"bytes: {sys.getsizeof(numpy_array)}")
numpy_array[:5]

bytes: 128

array([['Bac Lieu', 27, 22, 17, 'NNE', 6.9, 90, 71, 1010,
        Timestamp('2009-01-01 00:00:00')],
       ['Bac Lieu', 31, 25, 20, 'ENE', 0.0, 64, 24, 1010,
        Timestamp('2010-01-01 00:00:00')],
       ['Bac Lieu', 29, 24, 14, 'E', 0.0, 75, 45, 1008,
        Timestamp('2011-01-01 00:00:00')],
       ['Bac Lieu', 30, 24, 30, 'E', 0.0, 79, 52, 1012,
        Timestamp('2012-01-01 00:00:00')],
       ['Bac Lieu', 31, 25, 20, 'ENE', 0.0, 70, 24, 1010,
        Timestamp('2013-01-01 00:00:00')]], dtype=object)

### сколько было дней с уровнем осадков менее 10 мм и более 1мм?

In [67]:
statement_body_copy = numpy_array[:, 5].astype(float).copy()
mask = (statement_body_copy < 10) & (statement_body_copy > 1)

print(f"дней с условиями: {len(numpy_array[mask])}")

дней с условиями: 67407

### среднее количество осадков в дождливые дни

In [70]:
rainy_days = numpy_array[numpy_array[:, 5]>0].copy()
print(np.mean(rainy_days[:, 5]))

8.461654864749521

### среднее количество осадков за 2020 год

In [ ]:
numpy_array[:, 9] = list(map(lambda x: pd.to_datetime(x).to_pydatetime().year, numpy_array[:, 9]))
mask = numpy_array[:, 9] == 2020
weather_by_2020 = numpy_array[mask].copy()

In [125]:
np.mean(weather_by_2020[:, 5])

np.float64(6.306582191780809)

### максимальный уровень осадков в 2020 году

In [126]:
np.max(weather_by_2020[:, 5])

466.0